

body{background-color: black;}

header{background-color: yellow;
font-size: 400%;
text-align:center;
color: black;
margin-top: 20px;
margin-right:0px;
margin-left:0px;
background-image: url("https://www.meme-arsenal.com/memes/a876330974c0907e9506807a7232148c.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
font-family: 'Anton', sans-serif;
padding-bottom:10px;
margin-top:20px;
}

Nav{
 font-size: 300%;
 background-color: fff44f;
 color: black;
 border:6px solid gold;
 font-family: 'Anton', sans-serif;
color: black;
}


h2
{color:white;}

h1{background-color: yellow;
border: 4px solid darkorange;
padding-top:20px;
padding-bottom:20px;
padding-left:50px;
padding-right:10px;
margin-right: 1070px;
margin-top: 40px;
color: black;
font-size:40px; 
font-family: 'Fjalla One', sans-serif;}

h4
{margin-right: 800px;
padding-top:20px;
padding-bottom:20px;
padding-left:20px;
padding-right:20px;
background-color:fff44f;
border:2px solid orange;
font-family: 'Nova Flat', cursive;
font-size: 20px
}


footer{
font-family: 'Anton', sans-serif;
background-color:orange;
padding-left: 500px;
padding-right:500px;
padding-top:100px;
padding-bottom:100px;
border-top: 3px solid darkorange;
text-align:center;
color: black;
border-left:3px solid darkorange;
border-right: 3px solid darkorange;
background-image: url("https://cdn-images-1.medium.com/max/1200/1*S-eCEF0XS4J6TZW9NqJyIQ.jpeg");
background-size: 1390px 500px;
background-repeat: no-repeat;
font-size:35px;}

.totop{background-color: orange;
border-top: 3px solid darkorange;
border-left:3px solid darkorange;
border-right:3px solid darkorange;
padding-left: 500px;
padding-right:500px;
padding-bottom:10px;
padding-top:25px;
font-family: 'Anton', sans-serif;
font-size: 45;
text-align:center;}

.picture{
background-image: url("https://my-brushes.s3.amazonaws.com/images/vector/413029/preview/bl-Preview.png?v=5");
background-size: 1400px 1000px;
background-repeat: no-repeat;
margin-left: 40px;
margin-right:200px;
padding-left: 250px;
padding-right:250px;
padding-bottom:250px;
padding-top:250px;
background-color: yellow;
border-radius: 100px;
border: 10px solid darkorange;
}

h6{font-size: 25px;
text-align:center;
background-color: orange;}

.home{
display: inline-block;
width: 10%;
border-right:solid 10px gold;
font-size: 100%;
text-align: center;
}
.project{
display: inline-block;
width: 16%;
border-right:solid 5px gold;
font-size:30px;
border-top: 8px solid gold;
text-align: center;
}
.term1{
display: inline-block;
width: 14%;
border-right:solid 5px gold;
}



